.header {
    display: flex;
    justify-content: space-between;
    padding: .5rem 4rem;
    margin-bottom: 5rem;

    @media (max-width: 700px) {
        padding: .5rem 9rem;
    }

}

.component {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 20px;
    justify-content: space-between;
    margin-bottom: 18rem;

    @media (max-width: 700px) {
         
    }

    
}

.feature {
    background-color: #FAEBD7;
    display: block;
    margin: 2rem;
    margin-bottom: 18rem;

    &__list {
        display: block;
        padding-bottom: 1%;        
    }
}

.concept {
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: #FAEBD7;
    margin: 2rem;
    margin-bottom: 18rem;

    @media (max-width: 600px) {
        flex-direction: column;
        align-items: center;
    }
}

.shop {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    padding: 10rem 4rem;
    margin-bottom: 18rem;
} 

.choice {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    background-color: #FAEBD7;
    margin-bottom: 18rem;
}


